.texto{
    left: 5em;
    top: 5em;
    position: relative;
    width: 430px;
  }
  .texto h1{
    font-size: 60px;
    margin-bottom: 0em;
  }
  .botao{
    position: relative;
    top: 15em;
    left: 5em;
    background-color: #BBED2F;
    width: 200px;
    padding: 1em 0em;
    color: black;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
  .foto{
    background-image: url("../assets/foto.png");
    background-position: center;
    height: 200px;
    width: 60px;
    border-radius: 100% 50%;
    padding: 9em 10em;
    position: absolute;
    right: 10em;
    top: 5em;
  }
  @media (max-width: 820px) {
    .texto {
        text-align: center;
        left: 3em;
        right: 3em;
        width: 18em;
        padding: 0em;
        height: 70px;
        margin: 5em 0;
    }
    .texto h1{
        font-size: 40px;
    }
    .botao{
        top: 200px;
        left: 7em;
        right: 7em;
    }
    .foto{
      background-position: top;
      background-size: 15em;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      right: 7em;
      left: 7em;
      top: 5em;
      padding: 5em;
      }   
}
