.page{
    text-align: center;
}
.divisao{
    height: 45em;
    border: 1px solid white;
    margin: 0;
}
h1{
    font-size: 60px;
    margin: 3em 0em;
}
.sobre{
    width: 20em;
    height: 5em;
    margin: auto;
    font-size: 25px;
}
.linha{
    background-color: white;
    height: 1px;
}
.projetos{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -5em;
    cursor: pointer;
}
.projetos img{
    height: 15em;
    width: 25em;
    border-radius: 100px 100px 0px 0px;
}
.projetos p{
    color: cadetblue
}
.contato {
    text-align: center;
    margin: 8em 5em;
}
.contato h1{
    margin-bottom: 1em;
}
.contato img{
    height: 10em;
    width: 10em;
    margin: 2em;
}



@media (max-width: 400px) {
    .divisao .projetos{
        height: 35em;
        margin-top: -9em;
    }

    .page .sobre{
        margin: 10em auto;
    }
    h1{
        font-size: 30px;
        margin: 5em 1em;
    }
    .sobre{
        width: 10em;
        font-size: 20px;
    }
    .projetos img{
        height: 10em;
        width: 15em;
    }
    .contato img{
        height: 5em;
        width: 5em;
        margin: 1em;
    }
}
