body{
    background: linear-gradient(91deg, #31babb 0%,#a8c6d2 21%, #b28d7c 100%);
}
.page .divisao{
    border: solid;
}
.sobre{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10em auto;
}
.sobre p{
    margin: 1em 5em;
}
.sobre .linha{
    background-color: black;
    height: 5px;
    width: 80%;
}
.projetos{
    height: 100vh;
}
.projetos section{
    margin: 9em auto;
    cursor: pointer;
}
.projetos p{
    margin-top: 1em;
    text-decoration: underline black; 
}
.projetos img{
    border-radius: 50px 50px 0 0;
}
.contato{
    height: 100vh;
    margin: 10em auto;
}
.contato img{
    height: 100px;
    width: 100px;
    margin: 1em 5em;
}
/*telas menores*/
@media (max-width: 350px) {
    .sobre{
        margin: auto;
    }
    .projetos{
        height: 30rem;
    }
    .contato{
        height: 100vh;
        margin: 10em auto;
        margin: auto;
        height: 30rem;
    }
  }
/* 1024px - 1200px = desktop */
  @media (min-width: 1024px) {
  
 }
  @media (max-width: 1024px) and (orientation: landscape) {
  
  }