.page{
    text-align: center;
}
.page h1{
    font-size: 60px;
    margin: 3em;
}
.sobre{
    width: 15em;
    height: 5em;
    margin: auto;
    font-size: 25px;
}
.linha{
    background-color: white;
    height: 1px;
}
