header{
  display: flex;
  padding: 0 2em;
  border-bottom: solid white;
  justify-content: space-between;
}
header .traducao{
  background-image: url("assets/traduçao.png");
  background-size: 30px;
  background-color: white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
header .lampada{
  background-image: url("assets/lampada.png");
  background-size: 30px;
  background-color: white;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

