.App{
  position: relative;
  color: white;
}
.texto{
  left: 5em;
  top: 5em;
  position: relative;
  width: 430px;
}
.texto h1{
  font-size: 60px;
  margin-bottom: 0em;
}
.botao{
  position: relative;
  top: 15em;
  left: 5em;
  background-color: #BBED2F;
  width: 200px;
  padding: 1em 0em;
  color: black;
  border-radius: 20px;
  text-align: center;
}
.foto{
  background-image: url("assets/foto.png");
  background-position: center;
  height: 200px;
  width: 60px;
  border-radius: 100% 50%;
  padding: 9em 10em;
  position: absolute;
  right: 10em;
  top: 5em;
}
