main{
    text-align: center;
}
h1 {
    font-size: 60px;
    margin: 2em 0em;
}
img{
    height: 25em;
    width: 50em;
    margin-top: -2em;
}
.propriedades {
    list-style-type: circle;
    width: 70px;
    margin: auto;
}
button{
    margin: 2em;
    background-color: #BBED2F;
    width: 200px;
    padding: 1em 0em;
    color: black;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
  @media (max-width: 480px) {
    main{
        font-size: 1em;
    }
    h1{
        font-size: 30px;
        margin: 3em 1em;
    }
    img{
        height: 10em;
        width: 20em;
        margin-top: -5em;
    }
}


  
